
header {
    background-image: url(/img/img2.jpg);
}

.slide {
    text-decoration: none;
    color: white;
}

.slide:hover {
    color: lightgray;
}

.startbootstrap {
    font-size: larger;
    font-weight: bolder;
}

.startbootstrap:hover {
    color: rgb(255, 20, 0);
}

.team {
    font-weight: bolder;
}

.language {
    text-decoration: underline;
}

.profile {
    font-weight: bolder;
}
